<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/getInfo">Find thing for you</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/resources">resources</a></li>
    </ul>
</nav>