
    <!-- Navbar -->
    <%- include('partials/header.ejs') %>



    <h1>Funding Access for Education</h1>
    <!-- Form for student submitting background info -->
    <form action="/student" method="get" id="form">
        <!-- GPA Input -->
        <label for="GPA">Enter your GPA: </label>
        <input type="text" name="gpa" id="GPA">
        
        <!-- MAJOR Input -->
        <label for="major">Major</label>
        <select id="major" name="major">
            <option value="computerScience">Computer Science</option>
            <option value="engineering">Engineering</option>
            <option value="business">Business</option>
            <option value="veterinary">Computer Science</option>
            <option value="health">Engineering</option>
            <option value="HVAC">Business</option>
            <option value="construction">Business</option>
            <option value="accounting">Computer Science</option>
            <option value="dance">Engineering</option>
            <option value="drama">Business</option>
            <option value="education">Business</option>
            <option value="design">Computer Science</option>
            <option value="manufacturing">Engineering</option>
            <option value="science" selected>Science</option>
        </select>

        <!-- NeedBased -->
        <label for="needBased">Are you in need of financial assistance? </label>
        <input type="checkbox" name="needBased" id="needBased" value="true">

        <!-- Student Type -->
        <div class="student-type">
            <p>Check all that apply to you.</p>
            <label for="studentType0">
                <input type="checkbox" class="form-control" name="studentType" id="studentType0" value="university">
                Are you a transferring to a University?
              </label>
              <label  for="studentType1">
                <input type="checkbox"  class="form-control"  name="studentType" id="studentType1" value="highschool">
                Are you a recent Highschool Graduate?
              </label>
        </div>

        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>



    <%- include('partials/footer.ejs') %>