<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hackathon 2022</title>
</head>

<body>
    <h1>Funding Access for Education</h1>
    <!-- Form for student submitting background info -->
    <form action="/student" method="get" id="form">
        <!-- GPA Input -->
        <label for="GPA">Enter your GPA: </label>
        <input type="text" name="gpa" id="GPA">
        
        <!-- MAJOR Input -->
        <label for="major">Major</label>
        <select id="major" name="major">
            <option value="computerScience">Computer Science</option>
            <option value="engineering">Engineering</option>
            <option value="business">Business</option>
            <option value="science" selected>Science</option>
        </select>

        <!-- NeedBased -->
        <label for="needBased">Are you in need of financial assistance? </label>
        <input type="checkbox" name="needBased" id="needBased" value="true">

        <!-- Student Type -->
        <div class="student-type">
            <p>Check all that apply to you.</p>
            <label for="studentType0">
                <input type="checkbox" class="form-control" name="studentType" id="studentType0" value="university">
                Are you a transferring to a University?
              </label>
              <label  for="studentType1">
                <input type="checkbox"  class="form-control"  name="studentType" id="studentType1" value="highschool">
                Are you a recent Highschool Graduate?
              </label>
        </div>


        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>


</body>

</html>