
    <%- include('partials/header.ejs') %>

    <h2 class="text-center my-4">About</h2>
    <div class="results-container text-center">

        <!-- All text will go here -->
        <p>        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia omnis libero totam earum quidem, dolor architecto ut sed, qui quos nihil excepturi placeat id itaque fuga nobis nemo. Tempora magni sapiente saepe voluptatibus nihil et. Voluptatibus voluptatem, tempore aliquid voluptas fugit voluptate hic facilis enim nisi dolore quod unde culpa.</p>


        <a href="https://gaustincc-my.sharepoint.com/:p:/g/personal/michael_rodriguez25_g_austincc_edu/EaVbjl0mOn9Jj7cd7YEtlfYBPZTiDzLB80YpHZVpv0B0mQ?e=oBjpF5">Link to our slideshow</a>
    </div>

    
    <%- include('partials/footer.ejs') %>
