
    <%- include('partials/header.ejs') %>

    <h2 class="text-alilgn">About</h2>
    <div class="results-container">

        <!-- All text will go here -->
    </div>

    
    <%- include('partials/footer.ejs') %>
