<%- include('partials/header.ejs') %>

    <h1>Results</h1>
    <% results.forEach(obj => { %>
      <div class="data-card">
          <p><%=obj.name %></p>
          <a href="<%=obj.url%>">Website</a>
      </div>
    <% }) %>
</body>
</html>

<%- include('partials/footer.ejs') %>


