body {
    background-color: #4D1979;
}

h1 {
    text-align: center;
    color: #efefef
}

a {
    color:white;
}
#form {
    background: #efefef;
    margin: 0 auto;
    border-radius: 25px;
    width: 50%;
    height: 500px;
    padding: 25px 10px;

}