
    <%- include('partials/header.ejs') %>

    <h2 class="subtitle">About</h2>
    <div class="results-container">

        <!-- All text will go here -->
        <p>Roughly 46 million Americans have student loan debt. That is nearly $1.75 trillion dollars’ 
            worth of crushing debt, which means that the average American has around $38,043.47 dollars’
            worth of student debt. Through the combined efforts of Brittany Sifford, Hope Watson,
            Michael Rodriguez, and Slade Pickering, we have developed an effective program that aims to
            assist students who are trying to avoid having student debt, or at least minimize their debt.
        </p>
        <p>
            In our effective program, you will find our homepage.
            The homepage will prompt the user to
           enter in their information which will prompt our system to find the best scholarship or grant
            within their criteria. The user will find links that will transfer them to ACC’s website to
             which they can enter in their information.
        </p>
        <p>
            Additionally, we have created a “Additional information.” In this page you will find links to
             such precious resources that are free and that you can efficiently utilize for your benefit.
              Many of these dynamic websites that we have added to our lists can essentially assist you to
               land a new career.
        </p>


        <a href="https://gaustincc-my.sharepoint.com/:p:/g/personal/michael_rodriguez25_g_austincc_edu/EaVbjl0mOn9Jj7cd7YEtlfYBPZTiDzLB80YpHZVpv0B0mQ?e=oBjpF5">Link to our slideshow</a>
    </div>

    
    <%- include('partials/footer.ejs') %>
